.task{
    padding: 6px;
    width: 258px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 15px  auto 0 auto ;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;

}